@import './base.css';
body {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family:'微软雅黑', '黑体' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
  color: var(--color-text);
}

button {
  width: 80%;
  height: 3em;
  border-radius: 1em;
  margin: 0.8em 0;
  background-color: var(--color-theme);
  border: 2px solid var(--color-hover);
  color: white;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &.loginBtn {
    margin-top: 3em;
    background-color: rgba(214, 255, 224, 0.496);
  }

  &[disabled] {
    background-color: rgba(179, 179, 179, 0.496) !important;
    color: #454545 !important;
    cursor: not-allowed !important;
  }

  &.success {
    background-color: rgb(65, 161, 89);
    color: #ebebeb;
  }

  &.error {
    background-color: rgb(207, 65, 65);
    color: #ebebeb;
  }
}

input[type="submit"],
input[type="color"] {
  cursor: pointer;
}




.el-input__wrapper {
  border-radius: 1.4em;
  transition: all 0.2s ease-in-out;

  &.is-focus {
    box-shadow: none;
  }
}

.el-input__inner {
  font-size: large;
}

.el-message {
  border-radius: 0;
  z-index: 900;
  margin: 0;
  margin-top: 2em;
  background-color: #1f1f1f;
  border: 0;
  text-align: center;
  width: 100vw;
  font-family: '微软雅黑', 'Courier New', Courier, monospace;

  position: absolute;

  transform: translateX(0);
  left: 0;

  .el-message__content {
    font-size: 14px;
    line-height: 1.5;
  }

  i {
    display: none;
  }
}

.el-input__prefix {
  svg {
    z-index: 999;
  }
}