.myMessage {
  transition: all 0.2s ease-in-out;
  z-index: 0;
  position: absolute;
  top: 0;

  transform: translateY(-20px);
  /* margin-top: 20px; */

  padding: 0.2em 0.5em;

  width: 100vw;
  height: 2em;

  background-color: var(--color-background);

  p {
    margin: 0;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
  }

  &.info {
    p {
      background-color: #bfbfbf;
      color: rgb(43, 43, 43);
    }
  }

  &.success {
    p {
      background-color: #84a684;
      color: rgb(238, 238, 238);
    }
  }

  &.warning {
    p {
      background-color: #a8a86f;
      color: rgb(238, 238, 238);
    }
  }

  &.error {
    p {
      background-color: #963838;
      color: rgb(238, 238, 238);
    }
  }
}

.myMessage__show {
  --index: 0;
  --top: 0;
  transform: translateY(calc(2em * var(--index) + var(--top)));
  /* margin-top: calc(2em * var(--index) + 20px); */
  z-index: 900;
}

.myMessage__content {
  height: 100%;
  width: calc(100% - 1em);
}